name: shua
on:
  schedule:
    - cron: '05 11 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      - name: 初始化Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: 安装requests库
        run: pip install requests
        continue-on-error: true  # 允许该步骤失败后继续执行后续步骤，便于后续检查错误
      - name: 运行Python脚本
        run: |
          user="${{ secrets.USER }}"
          passwd="${{ secrets.PWD }}"
          open_get_weather="${{ secrets.OPEN_GET_WEATHER }}"
          area="${{ secrets.AREA }}"
          sckey="${{ secrets.SCKEY }}"
          python3 main.py "$user" "$passwd" "$open_get_weather" "$area" "$sckey"
          status=$?
          if [ $status -ne 0 ]; then
            echo "命令执行失败，重新执行相关步骤..."
            # 重新执行Checkout codes步骤
            - name: 重新Checkout codes
              uses: actions/checkout@v4
            # 重新执行初始化Python步骤
            - name: 重新初始化Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'
            # 重新安装requests库
            - name: 重新安装requests库
              run: pip install requests
            # 再次运行Python脚本
            - name: 再次运行main.py
              run: |
                user="${{ secrets.USER }}"
                passwd="${{ secrets.PWD }}"
                open_get_weather="${{ secrets.OPEN_GET_WEATHER }}"
                area="${{ secrets.AREA }}"
                sckey="${{ secrets.SCKEY }}"
                python3 main.py "$user" "$passwd" "$open_get_weather" "$area" "$sckey"
          else
            echo "脚本成功运行。"
          time=$(TZ=UTC-8 date +'%Y-%m-%d %H:%M:%S')
          echo "最后一次运行时间: $time（北京时间）"
