name: shua
on:
  schedule:
    - cron: '05 11 * * *'  # 每天UTC时间11:05运行（北京时间19:05）
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      
      - name: 初始化Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: 安装依赖
        run: pip install requests
      
      - name: 运行Python脚本
        run: |
          user="${{ secrets.USER }}"
          passwd="${{ secrets.PWD }}"
          python3 main.py "$user" "$passwd"
      
      - name: 保存执行时间
        run: |
          echo "最后执行时间: $(TZ=Asia/Shanghai date +'%Y-%m-%d %H:%M:%S')" >> last_run.txt
        if: always()