name: shua
on:
  schedule:
    - cron: '05 11 * * *'  # 每天UTC时间11:05（北京时间19:05）
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout代码
        uses: actions/checkout@v4
      
      - name: 配置Python环境
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: 安装依赖
        run: pip install --no-cache-dir requests pytz
      
      - name: 运行Python脚本
        run: |
          python3 xx.py "${{ secrets.USER }}" "${{ secrets.PWD }}"
          
          # 记录最后执行时间
          echo "最后执行时间: $(TZ=Asia/Shanghai date +'%Y-%m-%d %H:%M:%S')" > last_run.txt
      